# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist

# Node
node_modules
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.local
coverage
